registry=https://registry.npmjs.org/
legacy-peer-deps=true
fetch-timeout=60000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-retries=5
prefer-offline=false
audit=false
fund=false
optional=true
omit=dev
